---
layout: default
---
<!--  this is categories banner code, you can remove this annotation to display it. 2017-11-22
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
    <div class="container">
        <div class="columns">
            <div class="column three-fourths">
                <div class="collection-title">
                    <h1 class="collection-header">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
-->


<section class="arcitle-container content">
    <div class="columns">
        <div class="column-sidebar one-fourth">
            {% include sidebar-search.html %}
            {% include sidebar-categories-nav.html %}
        </div>
        <div class="column-article three-fourths" >
            <article class="article-content markdown-body">
                {{ content }}
            </article>
        </div>
    </div>
</section>
<!-- /section.content -->
